<h3>Open Tasks</h3>
<% @tasks.each do |task| %>
  <% if !task.completed %>
    <h3><%=link_to( task.title, show_path(task.id)) %></h3>
    <% end %>
<% end %>

<br>

<h3>Closed Tasks</h3>
<% @tasks.each do |task| %>
  <% if task.completed %>
    <h3><%=link_to( task.title, show_path(task.id)) %></h3>
    <% end %>
<% end %>
