<h3>Open Tasks</h3>
<% @tasks.each do |task| %>
  <!-- Dividing view to show open tasks and then completed tasks for better user experience. -->
  <% if !task.completed %>
      <section>
        <h3><%=link_to( task.title, tasks_show_path(task.id)) %></h3>
          <div class="buttons"><%= button_to "Task Complete", tasks_complete_path(task.id), method: :put, data: {confirm:"Mark this task complete?"}  %></div>
          <div class="buttons"><%= button_to "Delete Task", tasks_delete_path(task.id), method: :delete, data: {confirm:"Delete this task?"}  %></div>
      </section>
  <% end %>

<% end %>

<br>

<h3>Closed Tasks</h3>
<% @tasks.each do |task| %>
  <% if task.completed %>
    <section>
      <h3><%=link_to( task.title, tasks_show_path(task.id)) %></h3>
    </section>
    <% end %>
<% end %>
