#main {
  padding-left: 2%;
}

#main-landing {
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
}

header {
 border: 2px solid black;
 margin-bottom: 2%;
}

nav {
  font-size: 1em;
  padding: .5%;
  background-image: url("to-do.jpg");
  background-size: 11%;
  background-repeat: repeat-y;
  background-position: center center;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1%;
}

li a {
  text-decoration: none;
}

ul {
  padding-left: 0%;
}

a:hover {
  color: gray;
}

.buttons {
  display: inline-block;
}

h3 {
  margin: 0%;
}

section {
  margin: 1% 0% 2% 0%;
}
